<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        	<property name="url" value="jdbc:mysql://10.0.5.251:3306/test?useUnicode=true&amp;characterEncoding=utf-8"></property>
        	<property name="username" value="root"></property>
        	<property name="password" value="Dje-20181117"></property>
        </bean>
        <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="typeAliasesPackage" value="com.dje.pojo"></property>
        </bean>
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="com.dje.mapper"></property>
        	<property name="sqlSessionFactory" ref="factory"></property>
        </bean>
        <bean id="usersService" class="com.dje.service.impl.UsersServiceImpl">
        	<property name="usersMapper" ref="usersMapper"></property>
        </bean>
        <!-- aop -->
        <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
        <bean id="mybefore" class="com.dje.advice.BeforeAdvice"></bean>
        <bean id="myafter" class="com.dje.advice.AfterAdvice"></bean>
        <aop:config>
        	<aop:pointcut expression="excution(* com.dje.service.impl.UsersServiceImpl.login(..))" id="mypoint"/>
        	<aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"/>
        	<aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/>
        </aop:config>
</beans>  